google-key.json
*.json
.env
**/.env
.user.yml

__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/


dags/plane_project/target/
dags/plane_project/dbt_packages/
dags/plane_project/logs/

logs/
airflow-docker/logs/
data/
airflow-docker/data/


terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/*.tfvars.json


.DS_Store
Thumbs.db